{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>nav</title>
</head>
<body>
    <nav class="nav">
        <div class="elements">
            <p class="navigation">Home</p>
            <p class="navigation">Add Student</p>
            <p class="navigation">Update</p>
            <p class="navigation">Search</p>
            <p class="navigation">Department</p>
            <p class="navigation">Login</p>
        </div>
    </nav>
</body>
</html>

{% block content %}
{% endblock content %}